html {
    background-color: white;
}

.mylogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: white;
    text-decoration: none;
    font-family: 'Slabo 27px', serif;
}

a:visited {
    color: white;
    font-family: 'Slabo 27px', serif;
}

ul {
    padding: 3em;
    align-content: center;
    text-decoration: none;
}

li {
    background-color: dimgray;
    padding: 3em;
    text-align: center;
    text-decoration: none;
    margin-bottom: 1em;
    list-style: none;
    font-family: 'Slabo 27px', serif;
}
h1 {
    color: dimgray;
    text-align: center;
}

p {
    width: 50%;
    float: right;
    font-family: 'Slabo 27px', serif;
    color: dimgray;
    text-align: left;
    margin-right: 5%;
    margin-left: 5%;
}

.mainphoto {
    width: 30%;
    float: left;
    margin-left: 5%;
}